@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;800&display=swap');
body{
    margin: 0;
    padding: 0;
}
.App {
    height: 100%;
    width: 100%;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}