:root{
    --color-primary : #64ffda;
    --color-secondary: #121725;
    --color-text:#ccd6f6;
    --color-text-white: #fff;
    --color-text-secondary: #d1def3b0;
    --color-3: #0d536e;
    --color-4: #b1b7c9;
    --color-hover: #64ffda5e;
    --color-tarjet: #98cfc318;
}
